@import url('https://fongs.googleapis.com/css?family=Ubuntu');

*{
    box-sizing:border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url(https://cdn.pixabay.com/photo/2022/01/25/12/58/conifer-6966140_1280.jpg) no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: 105%;
    height: 105%;
    z-index: -1;
    filter: blur(30px);
}

.loading-circle {
    position:absolute;
    height: 12em;
    width: 12em;
    border-top: .25em solid #fff;
    border-radius: 50%;
    transform: rotate(35deg);
}
.loading-text {
    font-size: 4em;
    color: #fff;
}

